:root{
    --primary-color: #125740;
    --secondary-color: #046A38;
    --light-color: #f0f0f0;
    --dark-color: #2c3e50;
    --max-width: 1100px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    background: var(--light-color);
}

a {
    color: var(--light-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}

h1 h2 h3 h4 h5 h6{
    margin-bottom: .55rem;
    line-height: 1.3;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.card{
   background: white;
   padding: 1rem; 
}
.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}
.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}
.p-1{ padding: 1.5rem ;}
.p-2{ padding: 2rem ;}
.p-3{ padding: 3rem ;}
#main-nav{
    background: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
   
}

#main-nav .container{
    display: grid;
    grid-template-columns: 4fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}
#main-nav ul{
    justify-self: end;
    display: flex;
    flex-direction: row;

}
#main-nav ul li a{
    padding: 0.75rem;
}
#main-nav ul li a.current{
    background: var(--secondary-color);

}
#main-nav ul li a:hover{
    background: var(--light-color);
    color: var(--dark-color);
}
#main-nav .social{
    justify-self: center;
    
}
i{
   padding: 10px;
}

.showcase{
 color: white;
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/jets/nue7vbohnzqllptdk3z6")  ;
 height: 80vh;
}

.showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.category{
   display: inline-block;
   color: white;
   font-size: .7rem;
   text-transform: uppercase;
   padding: 0.4rem 0.6rem;
   border-radius: 10px;
   margin: 0.5rem;
   background: #ED213A; 
}

.btn{
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: white;
    padding: 0.5rem 1.5rem;
    margin-top: 10px;
}
.btn:hover{
    opacity: 0.8;
}

#home-article .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-article .articles-container article:first-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1 / span 2;
    align-items: center;
}
#home-article .articles-container article:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 2 / span 2;
    align-items: center;
}
.article-tag{
    color: var(--primary-color);
}
.article-tag:hover{
    background: var(--primary-color);
    color: white
}

#aside-card{
    background: var(--secondary-color);
    color: white;
}
 
#aside-card h2{
    margin: 1.2rem 0;
}

.page-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1rem;
}
.page-container :first-child{
    grid-row: 1 / span 3;
}

#main-footer{
    background: var(--dark-color);
    color: white;
}
#main-footer a{
    color: white;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 1rem 0.7rem;
    text-align: left;
}
.copyright{
    text-align: center;
    padding: 1rem;
    margin-top: 10px;
   
}
.list li{
    margin: 10px 0;
}
.list li a:hover{
    color: var(--primary-color);
}
.btn-light{
    background: var(--primary-color);
    border-radius: 4px;

}
.footer-container p{
    margin-top: 15px;
}
.logo{
    padding: 0 10px;
}

input{
    line-height: 2;
    margin-top: 20px;
    width: 90%;
}

.l-heading{
    margin: 1.5rem 0;
}



